{
  email {$ACME_EMAIL}
}

ori-os.ori-craftlabs.com {
  encode gzip
  reverse_proxy web:3000
}

api.ori-os.ori-craftlabs.com {
  encode gzip
  reverse_proxy api:4000
}

# Optional: redirect root domain to ori-os subdomain
ori-craftlabs.com {
  redir https://ori-os.ori-craftlabs.com{uri}
}
